* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1em;
}

button {
  padding: 1em;
}

input{
  font-size: 4rem;
  border-radius: 1000px;
  border: 5px solid #ad2121;
  padding: 50px;
  width: 500px;
  height: 500px;
}
input:focus{
  border: 1px solid red;
  border-radius: 1000px;
}